<html>
    <head>
      {% if title %}
      <title>{{ title }} - blabla</title>
      {% else %}
      <title>Welcome to blabla</title>
      {% endif %}
    </head>
    <body>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
