<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<head>
	<title>New service signup form</title>
	<!-- Custom Theme files -->
	<link  href= "{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet" type="text/css" media="all" />

	<!-- for-mobile-apps -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- //for-mobile-apps -->
	<!-- font-awesome icons -->
	<link  href= "{{ url_for('static',filename='styles/font-awesome.css') }}" rel="stylesheet" type="text/css" media="all" />
	<!-- //font-awesome icons -->
	<!--Google Fonts-->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<script src="{{ url_for('static',filename='js/jquery-1.11.1.min.js') }}" ></script>
</head>

<body>
	<div class="wthree-dot">
		<h1>Blabla Signup Form</h1>
		<div class="profile">
			<div class="wrap">
				<div class="wthree-grids">
					<div class="content-left">
						<div class="content-info">
							<h2>Brief History About Us</h2>
							<div class="slider">
								<div class="callbacks_container">
									<ul class="rslides callbacks callbacks1" id="slider4">
										<li>
											<div class="w3layouts-banner-info">
												<h3>Vivamus dui dolor</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et placerat leo, non condimentum justo</p>
											</div>
										</li>
										<li>
											<div class="w3layouts-banner-info">
												<h3>Duis in nisl egestas</h3>
												<p>Suspendisse leo lacus, hendrerit consectetur scelerisque in, tempor sit amet tortor. Pellentesque rhoncus</p>
											</div>
										</li>
									</ul>
								</div>
								<div class="clear"> </div>
							</div>
							<div class="agileinfo-follow">
								<h4>Sign Up with</h4>
							</div>
							<div class="agileinfo-social-grids">
								<ul>
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
									<a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
								</ul>
							</div>
							<div class="agile-signin">
								<h4>Already have an account <a href="#">Sign In</a></h4>
							</div>
						</div>
					</div>
					<div class="content-main">
						<div class="w3ls-subscribe">
							<h4>New Customer?</h4>
							<form action="" method="post" novalidate>
								{% block content %}
								{{ form.csrf_token }}
								{{ form.first_name(size=32) }}
								{{ form.last_name(size=32) }}
								{{ form.email(size=32) }}
								{{ form.creditcard(size=32) }}
								{{ form.zipcode(size=32) }}
								{{ form.ip_address()}}
								{{ form.submit() }}
								{% endblock %}
						</form>
						</div>
					</div>
					<div class="clear"> </div>
					<hr>
	        {% with messages = get_flashed_messages() %}
	        {% if messages %}
	        <ul>
	            {% for message in messages %}
	            <li>{{ message }}</li>
	            {% endfor %}
	        </ul>
	        {% endif %}
	        {% endwith %}
					</div>

			</div>
		</div>
	</div>
	<script src="js/responsiveslides.min.js"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function() {
			// Slideshow 4
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: false,
				speed: 400,
				namespace: "callbacks",
				before: function() {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function() {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<!--banner Slider starts Here-->
</body>

</html>
