{% extends "base.html" %}

{% block content %}
    <h1>Sign up</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.first_name.label }}<br>
            {{ form.first_name(size=32) }}
        </p>
        <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name(size=32) }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.creditcard.label }}<br>
            {{ form.creditcard(size=32) }}
        </p>
        <p>
            {{ form.zipcode.label }}<br>
            {{ form.zipcode(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
